body {
	font-family: 'Montserrat', sans-serif;
}

/* CSS da página home*/

.banner {
	width: 100%;
	display: block;
    margin-left: auto;
	margin-right: auto;
}

.titulo-principal {
	padding: 10px;
	margin: 0 0 1em;
	text-align: center;
	font-size: 2em;
	clear: left;
}

.principal {
	width: 100%;
	margin: 0 auto;
	background: #e8faff;
}
.sobre {
	padding: 3em 0;
	width: 940px;
	line-height: 1.5;
	margin: 0 auto;
	background: #e8faff;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.utensilios {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
	border-radius: 30px;
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#e8faff, #8bd7ee);
}

.mapa-img {
	width: 940px;
	margin: 0 auto;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

.beneficios {
	padding: 3em 0;
	background: #8bd7ee;
}

.conteudo-beneficios {
	width: 640px;
	margin: 0 auto;
}

.benelist {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.imagem-beneficios {
	width: 60%;
	border-radius: 10px;
	opacity: 1;
	box-shadow: 10px 10px 30px 5px #000000;
}

/* BOX-Shadow - X: lados Y:cima p/ baixo, Blur e intensidade da borda */
/* Box-shadow: inset: posicionada apartir do centro 30px:espaçamento - 0 0 30px #cor  */

.imagem-beneficios:hover {
	opacity: 0.5;
	transition: 2s;
}

/* CSS da página produtos junto com a home*/

header {
	background: #7ecaf8;
	padding: 10px 0;
}

.menu {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.logo {
	position: relative;
	width: 10pc;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 50%;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px; 
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	 color: #C78C19;
	 text-decoration: underline; 
}

.conteudo-produtos {
	background: linear-gradient(#e8faff, #8bd7ee);
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	text-align: center;
	display: inline-block;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 30px; 
	background: white;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;
}

.produtos li:hover h2 {
	font-size: 31px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold; 
}

.desc {
	font-size: 19px;
}

.preco {
	font-size: 22px;
	font-weight: bold; 
	margin: 10px 0 0;
}

footer {
	text-align: center;
	background: url("../imagem/bg.jpg");
	padding: 40px 0; 
}

.logo-footer {
	position: relative;
	width: 100px;
	margin: 0 auto;
}

.copy {
	color: #FFFFFF;
	font-size: 15px;
	margin: 20px 0;
}

.direitosAutorais, a {
	color: #FFFFFF;
	font-size: 15px;
	margin: 20px 0;
	text-decoration: none;
}

.direitosAutorais a:hover {
	font-weight: bold; 
}

/* CSS da página de contato*/

.contato-conteudo {
	background: linear-gradient(#e8faff, #8bd7ee);	
}

form {
	padding: 30px;
	width: 940px;
	margin: 0 auto;
}

form label {
	display: block;
	font-size: 20px; 
	margin: 0 0 15px;
	padding: 5px;
}

.p-padrao {
	display: block;
	font-size: 20px; 
	margin: 0 0 15px;
	padding: 5px;
}

.opcoes {
	font-size: 14px; 
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 30%;
}

.checkbox {
	margin: 20px 0;
}

.div-horario {
	margin: 30px 0;
}

.div-contato {
	margin: 30px 0;
}

.div-checkbox {
	margin: 30px 0;
}

.div-novidade {
	margin: 20px 0;
}

.enviar {
	border-radius: 10px;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;	
	width: 25%;
	padding: 10px 0;
	transition: 1s all;
	cursor: pointer;
	background: white;
} 

.enviar:hover {
	background: #e2e2e2;
	transform: scale(1.1);
}

.horario {
	width: 940px;
	margin: 0 auto;
	text-align: center;
	table-layout: fixed;
	padding: 10px;
}

.horario-func {
	margin: 0 auto;
	text-align: center;
}

.horario-func thead {
	background: #91f4ff;
	font-weight: bold;
	text-align: center;	
}

.horario-func tbody {
	background: white;
}

.horario-func td, th {
	border: 1px solid #000000; 
	padding: 8px 15px;
	text-align: center;
}

@media screen and (max-width: 480px) {
	.menu, .principal, .sobre, .conteudo-beneficios, .mapa-img, .contato-form, .horario, .horario-func {
		width: auto;
	}

	.menu, .logo {
		margin-bottom: 20px;
	}

	.banner {
		height: 170px;
	}

	.principal {
		padding: 10px;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
		text-align: center;
	}

	.benelist, .imagem-beneficios {
		width: 98%;
		margin: 10px 0;
	}

	.produtos {
		width: 100%;
		text-align: center;
	}

	.produtos li {
		width: 65%;
		margin: 4% 1.5%;
	}

	.input-padrao {
		width: 50%;
	}

	.opcoes {
		font-size: 16px;
	}

	.enviar {
		margin-bottom: 40px;
		padding: 10px;
		width: 40%;
		font-size: medium;
	}
}